* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #A5ACAF;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #004c55;
  padding: 30px;
  text-align: center;
  color: #FFFFFF;
}

header h1 {
  margin: 0;
  font-size: 32px;
  letter-spacing: 2px;
}

main {
  flex-grow: 1;
  padding: 50px;
  background-color: #FFFFFF;
  border-radius: 20px;
  margin: 0 auto;
  max-width: 800px;
  width: 100%; /* Added width property */
  box-sizing: border-box; /* Added box-sizing property */
}

section {
  margin-bottom: 30px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 10px;
  color: #000000;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

form input,
form button {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 4px;
}

form input {
  width: 100%;
}

form button {
  background-color: #000000;
  color: #FFFFFF;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #004C55;
}

footer {
  background-color: #000000;
  padding: 16px;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
}